* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"sans-serif";

}
body {
        background-color:#030935;
}

.sidebar {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width: 80px;
    background-color: rgba(0,0,0,0.9);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;

}
.sidebar .top {
    margin-bottom: 40px;
}

.sidebar.active ~ .main-content {
    left:150px;
    width:calc(100% - 150px);
}

.sidebar.active { 
    width :150px;
}

.sidebar #btn {
    position:absolute;
    top:0.4rem;
    left:50%;
    font-size:1.2rem;
    line-height:50px;
    transform:translateX(-50%);
    cursor:pointer;
    color:azure;
}

.sidebar ul li {
    position:relative;
    list-style-type:none;
    height:50px;
    width:90%;
    margin: 0.9rem auto;
    line-height:50px;
    color:purple;

}

.sidebar ul li a {
    color: azure;
    display:flex;
    text-decoration:underline;
    border-radius: 0.8rem;
}

.sidebar ul li .tooltip {
    position: absolute;
    left:125px;
    top: 50%;
    transform:translate(-50%,-50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0, 0.2);
    border-radius:0.6rem;
    padding: 0.4rem 1.2rem;
    line-height:1.8rem;
    z-index: 20;
    opacity:0;
}
.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display:none;
}

.main-content { 
    position:relative;
    background: linear-gradient(158deg,rgba(3,3,6,1) 39%, rgba(92,190,255, 1) 100%);
    min-height:100vh;
    top:0;
    left:80px;
    transition:all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}
.container {
    text-align:center;
}
.logo{
    color:#5800b3;
    text-align:center;
}
.text { 
    color:#9AA8C5;
    box-shadow: rgba(255,255,255, 0.7);
    text-align:center;
}

.main-box-border {
    width:100%;
    display:inline-flex;
    align-items:last baseline;
    justify-content:center;
    border-radius:35px;
    background-color:black;
    min-height: 250px;
    box-shadow: 0 20px 20px 0 rgba(10,7,3, 0.7)
}
img {
    width:20%;
    border-radius:250px;/*top left bottom right or all tg*/
    position:relative;
    animation: spin 15s linear infinite; 
    /*animation-play-state:paused; */
}
.img-border {
     border: 3px solid rgba(0,0,0,1);
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);

    }
}